
.container {
  text-align: center;
  color: #fff;
}

.colorPalette {
  width: 400px;
  margin: 24px auto;
  text-align: center;
  display: flex;
  justify-content: center;

  // display: flex;
  // margin: 24px auto;

  // border-radius: 20px;
  // border: 2px solid #fff;
  // background: #fff;
  
  // overflow: hidden;

}