
.container {
  text-align: center;
  color: #fff;

  padding-top: 48px;
}

.gridContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  gap: 32px;
  align-items: center;
  display: flex;
  transform: translate(40px, 0px);
}

@media (max-width: 900px){
  .gridContainer {
    flex-direction: column;
    transform: initial;
  }
}